.mainContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-bottom: 5px;
    
    
}

.button{
    width: 299px;
    height: 40px;
    margin-inline: 10px;

}

.button Link{

}
.btn{
    text-decoration: none;

}